@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-25px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(25px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hidden {
  opacity: 0;
}

.fade-in-left {
  animation: fadeInLeft 1s ease-in-out forwards;
}

.fade-in-right {
  animation: fadeInRight 1s ease-in-out forwards;
}

.fade-in-up {
  animation: fadeInUp 1s ease-in-out forwards;
}